@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  background-color: #D9D9D9;
  color: #59321C;
  overflow-y: scroll
}

.header-navigation {
  display: flex;
  justify-content: space-around;
  background-color: #8C694A;
  position: relative;
  z-index: 2;
  transition: position 0.3s ease;
}

.header-navigation.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-flex {
  display: flex;
  justify-content: space-around;
  width: 33%;
}

.header-navigation-button {
  margin: 40px 0;
}

.header-navigation-button a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s ease;
}

.header-navigation-button a:hover {
  border-bottom: 2px solid;
}

.logo {
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100%;
}

.container {
  padding: 50px 15% 0 15%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.container-flex {
  display: flex;
  padding-top: 50px;
}

.form {
  flex: 1;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 15px;
}

.vacancy-cart-input {
  font-size: 25px;
  padding-right: 20%;
}

.mb {
  margin-bottom: 30px;
}

input, textarea {
  background-color: #A68C76;
  color: #fff;
  border: 3px #59321C solid;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  outline: none;
  padding: 5px 15px;
  font-size: 20px;
  font-family: "Montserrat";
}

textarea {
  height: auto;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}

.input-delivery-way {
  padding-top: 50px;
}

.input-delivery-way p {
  padding-bottom: 20px;
  font-size: 20px;
  padding-left: 15px;
}

.input-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-comment p {
  font-size: 20px;
  padding: 30px 0 20px 15px;
}

.delivery-option {
  align-items: center;
  display: flex;
}

.delivery-option button {
  background-color: transparent;
  border: 1px solid #59321C;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #59321C;
  align-items: center;
}

.delivery-option.selected button {
  background-color: #59321C;
  color: white;
}

.input-button span {
  margin-left: 10px;
  font-size: 20px;
}

.submit {
  text-align: center;
}

.submit a {
  text-decoration: none;
  color: #fff;
  white-space: pre-line;
}

.submit-button {
  background-color: #8C694A;
  border-radius: 30px;
  border: 3px #59321C solid;
  font-size: 30px;
  cursor: pointer;
  margin-top: 30px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat";
  width: 100%;
  height: 80px;
  max-width: 375px;
}

.submit-button a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.products {
  flex: 1;
}

.product-item {
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.product-img {
  height: 100px;
}

.product-img img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.product-flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-flex {
  display: flex;
  flex: 1;
}

.product-flex h4 {
  flex: 1;
  font-size: 15px;
}

.quantity {
  font-size: 25px;
}

.quantity-controls {
  display: flex;
  flex: 1;
}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #59321C;
  color: #59321C;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.remove-button {
  color: #59321C;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #59321C;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-price {
  font-size: 20px;
  flex: 1;
}

.totalsum-price {
  font-size: 20px;
  font-weight: 700;
  text-align: end;
  padding-top: 30px;
}

footer {
  border-top: 2px solid #59321C;
  margin: 100px 15% 50px 15%;
}

.footer-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  cursor: default;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.footer-title {
  font-weight: 700;
}

.footer-text {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  line-height: 30px;
}

.footer-text a {
  text-decoration: none;
  color: #59321C;
  cursor: pointer;
}

.footer-info {
  line-height: 30px;
}

.footer-under {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: none;
}

#nav-items {
  display: flex;
  /* По умолчанию показываем элементы навигации */
}

#nav-items-overlay {
  flex-direction: column;
  display: flex;
  align-items: center;
}

#menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-overlay a {
  color: #59321C;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.icons {
  display: flex;
}

@media (max-width: 1200px) {
  .container-flex {
    flex-direction: column-reverse;
  }

  .products {
    padding-bottom: 100px;
  }

  .product-item {
    max-width: 500px;
    margin: auto;
    border-bottom: 1px solid #59321C;
  }

  .totalsum-price {
    max-width: 500px;
    margin: auto;
  }

  .form {
    min-width: 500px;
    margin: auto;
  }

  .vacancy-cart-input {
    padding-right: 0;
  }

  .form-title {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 900px) {
  #nav-items {
    display: none;
    /* Скрыть навигационные кнопки на узком экране */
  }

  #cart-icon a,
  #menu-icon a {
    display: block;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 30px;
  }

  .header-flex {
    width: 80%;
    justify-content: space-between;
  }

  .header-navigation-button {
    text-align: end;
    align-items: end;
    display: flex;
    margin: auto;
  }

  .header-navigation-button a {
    transition: none;
  }

  .header-navigation-button:hover a {
    border: none;
  }

  .footer-navigation {
    width: 100%;
  }

  .footer-under {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    font-size: 12px;
  }

  .footer-title {
    font-size: 15px;
  }

  .footer-forbuyers {
    width: 125px;
  }

  .footer-info {
    width: 125px;
  }

  .footer-logo {
    display: block;
  }

  .submit-button {
    font-size: 20px;
  }
}

@media (max-width: 729px) {
  .form {
    margin: 0;
    min-width: 0;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 50px 5% 0;
  }
}

@media (max-width: 500px) {
  .quantity-controls {
    justify-content: center;
  }

  .product-item {
    padding: 10px 0;
  }
}